// Background

.background-cover {
  background-size: cover;
  background-position: center;
}

.opacity-75 {
  opacity: .75;
}

.opacity-50 {
  opacity: .5;
}

.opacity-25 {
  opacity: .25;
}

.base-dark-gray {
  color: $base-dark-gray;
}

.base-middle-gray {
  color: $base-middle-gray;
}

.base-light-gray {
  color: $base-light-gray;
}


