@import "../../../styles/helpers";

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  background-color: $gray-300;
  border-radius: .25rem;
  height: 32px;
}

.staticModal {
  display: flex;
  flex-direction: column;
  border: 1px solid $base-dark-gray;
  border-radius: 4px;

  hr {
    width: 100%;
  background-color: $base-middle-gray;
  }
}

.buttonsBlock {
  display: flex;
  justify-content: flex-end;
  padding: 0 16px 16px;
}

//d-flex flex-column border border-dark-gray
