@import "../../../styles/helpers";

.navbarPanel {
  border-radius: 4px;
  background-color: $base-light-gray;
}

.navItem {
  color: $default;
}

.count {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 1px;
  right: 3px;
  background: $pink;
  border-radius: 50%;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 44px;
  width: 44px;
  border-radius: 50%;

  img {
    height: 100%
  }
}
