@import "../../../styles/helpers";

.tableTitle {
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 0;
}

.widgetContentBlock {
  margin: 0 24px 24px;
}

.buttonsBlock {
  margin: 24px;
}


